

<!--page banner-->
<div class="page-banner">
    <div class="row">
        <div class="col-lg-12">
            <img src="img/page-banner-img1.jpg" width="1170" height="380" alt="Golden Pound Homes Banner">
        </div>
    </div>
</div> 


<!--page-body-->
<div class="container">
    <div class="page-body">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="larger">Quality, Caring Assistance in Living</h2>
                <div class="about-social-media">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <p>
                    <small>
                        Golden Pond Homes<br/>
                        1234 Street Name<br/>
                        White Bear, MN<br/>
                        604.123.1234
                    </small>
                </p>
            </div>
             <div class="col-lg-6 col-lg-offset-1">
                <h3>Our Story</h3>
                <h4>Pellentesque habitant morbi tristique senectus et netus et  malesuada fames ac turpis egestas. Vestibulum tortor quam,  
                     feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu  libero sit amet quam egestas semper. Aenean ultricies 
                     mi vitae  est. Mauris placerat eleifend leo.
                </h4>
                <p>Pellentesque habitant morbi tristique senectus et 
                netus et  malesuada fames ac turpis egestas. Vestibulum
                tortor quam,  feugiat vitae, ultricies eget, tempor sit 
                amet, ante. Donec eu  libero sit amet quam egestas semper. 
                Aenean ultricies mi vitae
                t  malesuada fames ac turpis egestas. Vestibulum
                tortor quam,  feugiat vitae, ultricies eget, tempor sit 
                amet, ante. Donec eu  libero sit amet quam egestas semper. 
                Aenean ultricies mi vitae
                </p>
                <h3>Founders</h3>
                <p>Pellentesque habitant morbi tristique senectus et 
                netus et  malesuada fames ac turpis egestas. Vestibulum
                tortor quam,  feugiat vitae, ultricies eget, tempor sit 
                amet, ante. Donec eu  libero sit amet quam egestas semper. 
                Aenean ultricies mi vitae</p>
             </div>
        </div>
    </div>
</div>


