
<div class="page-banner">
    <div class="row">
        <div class="col-lg-12">
            <!--google map-->
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Kr32eihZaaMJvId5ooVT2ueqp5I" width="1170" height="600"></iframe>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-lg-3">
            <h3>Hours</h3>
            <p>Open 24/7.</p>
        </div>
        <div class="col-lg-3">
            <h3>Locations</h3>
            <p>
                1235 Gold Street<br/>
                White Bear, MN<br/>
                958-568-952
            </p>
            <p>
                1235 Gold Street<br/>
                White Bear, MN<br/>
                958-568-952
            </p>
            <p>
                1235 Gold Street<br/>
                White Bear, MN<br/>
                958-568-952
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Message Us</h3>
            <p>Place contact form here.</p>
        </div>
    </div>
</div>