
<!-- CONTACT FORM-->
<%- partial("partial/_carousel.ejs") %>

<!-- SERVICES -->
<div class="container">
	<h3 class="mt-5">Our Services</h3>
	<div class="row justify-content-center">
		

			<div class="col-sm-6 mt-5">
				<div class="card bg-dark text-white">
					<img class="card-img" src="http://via.placeholder.com/150x100" alt="Card image">
					<div class="card-img-overlay">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<a class="card-text">
							<button class="btn btn-info">More</button>
						</a>
					</div>
				</div>
			</div>
		
		
		<div class="col-sm-6 mt-5">
			<div class="card bg-dark text-white">
				<img class="card-img" src="http://via.placeholder.com/150x100" alt="Card image">
				<div class="card-img-overlay">
					<h4 class="card-title">Card title</h4>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<a class="card-text">
						<button class="btn btn-info">More</button>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6 mt-5">
			<div class="card bg-dark text-white">
				<img class="card-img" src="http://via.placeholder.com/150x100" alt="Card image">
				<div class="card-img-overlay">
					<h4 class="card-title">Card title</h4>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<a class="card-text">
						<button class="btn btn-info">More</button>
					</a>
				</div>
			</div>
		</div>
		
	
	</div>
</div>


<!-- CONTACT FORM-->
<%- partial("partial/_contact-form.ejs") %>


<!-- LOCATIONS -->
<div class="container">
	<h2>Our Locations</h2>
	<div class="row">
		<!-- cards	 -->	
		<div class="col-sm-6 mt-5">
			<div class="text-center">
				<a href="#" >
					<img class="img-fluid" src="http://via.placeholder.com/318x180"/>
					<h3>Location, US</h3>
				</a>
			</div>
		</div>
		
		<div class="col-sm-6 mt-5">
			<div class="text-center">
				<a href="#" >
					<img class="img-fluid" src="http://via.placeholder.com/318x180"/>
					<h3>Location, US</h3>
				</a>
			</div>
		</div>
		
		<div class="col-sm-6 mt-5">
			<div class="text-center">
				<a href="#" >
					<img class="img-fluid" src="http://via.placeholder.com/318x180"/>
					<h3>Location, US</h3>
				</a>
			</div>
		</div>
		
		<div class="col-sm-6 mt-5">
			<div class="text-center">
				<a href="#" >
					<img class="img-fluid" src="http://via.placeholder.com/318x180"/>
					<h3>Location, US</h3>
				</a>
			</div>
		</div>

	</div>
</div>


<div class="container text-center mt-5">
	<a href="#">
		<button class="btn btn-info" type="button">Explore Locations</button>
	</a>
</div>