

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">White Bear, MN</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3>White Bear Lake, MN</h3>
        <p>1256 Street Road</p>
        <p><a href="#" data-toggle="modal" data-target="#map-modal">View Map</a></p>
    </div>
    <div class="col-lg-4">
        <h3>Roseville, MN</h3>
        <p>1256 Street Road</p>
        <p><a href="#" data-toggle="modal" data-target="#map-modal">View Map</a></p>
    </div>
    <div class="col-lg-4">
        <h3>Maple Grove, MN</h3>
        <p>1256 Street Road</p>
        <p><a href="#" data-toggle="modal" data-target="#map-modal">View Map</a></p>
    </div>
</div>


<!--white bear map modal-->
<div class="modal fade" id="map-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
                <h4 class="modal-title">White Bear, MN</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p><img src="http://lorempixel.com/400/267" width="400" height="267"></p>
                    <h2>White Bear Lake, MN</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<!--add modal for the rest of the locations-->