
.carousel .item {
    padding: @padding (@padding * 12) (@padding * 4) (@padding * 12);
    font-size: (@font-size * 1.5);
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

a.corousel-control {
    color: @light-grey;
}

.carousel-indicators li {
    border: @border-size @border-color @border-type;
}

.carousel-indicators .active {
    background: @light-grey;
}