
<div class="footer">
    <div class="container">
        <div class="col-lg-12">
            <h1>Golden Pond Home</h1>
            <p>1234 Street Name / Maylene, MN / 604.123.1234</p>
            <p>Hours: Open 24 hours, 7 days a week</p>
            <div class="social-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <p>&copy; 2015 Golde Pond Home</p>
        </div>
    </div>
</div>