

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1>Golden Pond</h1>
            </div>
            <div class="col-lg-9 right">
                <div class="main-nav pull-right">
                    <ul class="list-inline">
                        <li><a href="index.html">Home</a></li>
                        <li class="divider">/</li>
                        <li><a href="locations.html">Locations</a></li>
                        <li class="divider">/</li>
                        <li><a href="about.html">About</a></li>
                        <li class="divider">/</li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#reservation-modal">Reservations</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>